@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:active {
  outline: none !important;
}

body {
  width: 100%;
  max-width: 1920px;
  font-family: "Fira Sans", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.nav-bar .container {
  height: 156px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.nav-bar .container .nav-bar__logo {
  position: relative;
  background: url("img/logo2.png");
  width: 166px;
  height: 29px;
  cursor: pointer;
  margin-left: 55px;
}
.nav-bar .container .nav-bar__logo:before {
  content: "";
  width: 44px;
  height: 55px;
  background: url("img/logo.png") no-repeat center;
  position: absolute;
  top: 50%;
  left: -55px;
  transform: translateY(-50%);
}
.nav-bar .container .menu .list {
  display: flex;
  list-style: none;
}
.nav-bar .container .menu .list .list__item {
  margin: 0 10px;
  padding: 0 6px;
  font-size: 14px;
  color: #cc3399;
  cursor: pointer;
}
.nav-bar .container .menu .list .list__item.active {
  border-bottom: 2px solid #330066;
}
.nav-bar .container .nav-bar__contacts {
  display: flex;
  flex-direction: column;
  font-size: 22px;
}
.nav-bar .container .nav-bar__contacts .telephone {
  position: relative;
  text-decoration: none;
  color: #000;
}
.nav-bar .container .nav-bar__contacts .telephone:before {
  content: url("img/telephone.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}
.nav-bar .container .nav-bar__contacts .whats-app {
  position: relative;
  text-decoration: none;
  color: #000;
}
.nav-bar .container .nav-bar__contacts .whats-app:before {
  content: url("img/whatsapp.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}
.nav-bar .container .nav-bar__contacts .address {
  position: relative;
  text-decoration: none;
  color: #000;
}
.nav-bar .container .nav-bar__contacts .address:before {
  content: url("img/adress.png");
  width: 17px;
  height: 23px;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}

.main {
  width: 100%;
  height: 847px;
  background: url("img/bg.jpg") no-repeat center;
}
.main .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main .container .left .title {
  color: #fff;
  font-size: 40px;
}
.main .container .left .title .title__text-border {
  font-weight: bold;
  border: 3px solid #cc3399;
  border-radius: 40px;
  padding: 0 15px;
  margin-left: -15px;
}
.main .container .left .form .name, .main .container .left .form .number {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  max-width: 490px;
  width: 100%;
  margin-top: 30px;
  color: #fff;
  padding-left: 7px;
}
.main .container .left .form .name:focus, .main .container .left .form .number:focus {
  outline: none;
}
.main .container .left .form .name::placeholder, .main .container .left .form .number::placeholder {
  color: #fff;
  font-size: 10px;
  font-style: italic;
}
.main .container .left .form__button {
  display: block;
  background: #fefefe;
  width: 220px;
  height: 40px;
  border-radius: 20px;
  margin: 40px auto 0 auto;
}
.main .container .left .form__button:active {
  outline: none;
  border: none;
}
.main .container .right {
  background: url("img/iphone.png") no-repeat center;
  width: 735px;
  height: 728px;
}

.features {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}
.features .feature {
  width: 200px;
  font-size: 24px;
  text-align: center;
  margin: 0 30px;
}
.features .feature.first {
  position: relative;
}
.features .feature.first:before {
  content: url("img/test.png");
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}
.features .feature.second {
  position: relative;
}
.features .feature.second:before {
  content: url("img/test2.png");
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}
.features .feature.third {
  position: relative;
}
.features .feature.third:before {
  content: url("img/test3.png");
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}
.features .feature.fourth {
  position: relative;
}
.features .feature.fourth:before {
  content: url("img/test4.png");
  position: absolute;
  top: -200px;
  left: 50%;
  transform: translateX(-50%);
}

.brands {
  margin-top: 100px;
}
.brands .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brands .container .brands__title {
  font-size: 40px;
  color: #cc3399;
}
.brands .container .brands__subtitle {
  font-size: 26px;
  color: #330066;
}
.brands .container .brands__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.brands .container .brands__list .list-item {
  margin: 0 20px 30px 20px;
}

.about-work {
  margin-top: 100px;
}
.about-work .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-work .container .about-work__title {
  font-size: 40px;
  color: #330066;
  margin-bottom: 50px;
}
.about-work .container .about-work__stages {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-work .container .about-work__stages .arrow {
  margin-top: 30px;
}
.about-work .container .about-work__stages .stage {
  margin: 30px 10px 0 70px;
  position: relative;
  font-size: 20px;
}
.about-work .container .about-work__stages .stage b {
  color: #330066;
}
.about-work .container .about-work__stages .stage:before {
  content: url("img/stageall.png");
  position: absolute;
  left: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.stock {
  margin-top: 100px;
  background: url("img/stock_bg.png") no-repeat center;
  width: 100%;
  height: 513px;
}
.stock .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stock .container .right {
  margin-left: 100px;
  display: flex;
  flex-direction: column;
}
.stock .container .right .stock__title {
  display: inline;
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.stock .container .right .stock__subtitle {
  margin-top: 30px;
  display: inline;
  font-size: 24px;
  color: #fff;
}
.stock .container .right .stock__button {
  display: block;
  width: 386px;
  height: 66px;
  margin: 20px auto 0 auto;
  background: #330066;
  border: 3px solid #fff;
  border-radius: 33px;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
}

.price-list {
  margin-top: 60px;
}
.price-list .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-list .container .price__title {
  font-size: 40px;
  color: #330066;
}
.price-list .container .price__subtitle {
  color: #cc3399;
}
.price-list .container .price__block {
  margin-top: 30px;
  width: 100%;
}
.price-list .container .price__block .products {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  border-bottom: 4px solid #cc3399;
  padding-bottom: 15px;
}
.price-list .container .price__block .products .product {
  font-size: 24px;
  color: #330066;
  margin: 0 20px;
  cursor: pointer;
}
.price-list .container .price__block .products .product.active {
  color: #fff;
  border: 1px solid #cc3399;
  background: #cc3399;
  padding: 5px 10px;
  margin-top: -5px;
  border-radius: 20px;
}
.price-list .container .price__block .models {
  width: 100%;
  position: relative;
}
.price-list .container .price__block .models .iphone, .price-list .container .price__block .models .ipad, .price-list .container .price__block .models .macbook, .price-list .container .price__block .models .watch {
  width: 100%;
  justify-content: center;
  font-size: 24px;
  color: #330066;
  position: absolute;
  top: 20px;
  left: 0;
  display: none;
}
.price-list .container .price__block .models .iphone.active, .price-list .container .price__block .models .ipad.active, .price-list .container .price__block .models .macbook.active, .price-list .container .price__block .models .watch.active {
  display: flex;
}
.price-list .container .price__block .models .iphone .model, .price-list .container .price__block .models .ipad .model, .price-list .container .price__block .models .macbook .model, .price-list .container .price__block .models .watch .model {
  padding: 0 20px;
  cursor: pointer;
}
.price-list .container .price__block .models .iphone .model.active, .price-list .container .price__block .models .ipad .model.active, .price-list .container .price__block .models .macbook .model.active, .price-list .container .price__block .models .watch .model.active {
  border-bottom: 4px solid #cc3399;
}
.price-list .container .price__block .price-lists {
  margin-top: 100px;
  position: relative;
}
.price-list .container .price__block .price-lists .price-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #330066;
  font-size: 20px;
}
.price-list .container .price__block .price-lists .price-list__item:not(:last-child) {
  border-bottom: 2px solid #cc3399;
}
.price-list .container .price__block .price-lists .iphone .seven, .price-list .container .price__block .price-lists .iphone .eight, .price-list .container .price__block .price-lists .iphone .ten, .price-list .container .price__block .price-lists .iphone .eleven {
  width: 100%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.price-list .container .price__block .price-lists .iphone .seven.active, .price-list .container .price__block .price-lists .iphone .eight.active, .price-list .container .price__block .price-lists .iphone .ten.active, .price-list .container .price__block .price-lists .iphone .eleven.active {
  display: flex;
}
.price-list .container .price__block .price-lists .ipad .pro, .price-list .container .price__block .price-lists .ipad .air {
  width: 100%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.price-list .container .price__block .price-lists .ipad .pro.active, .price-list .container .price__block .price-lists .ipad .air.active {
  display: flex;
}
.price-list .container .price__block .price-lists .macbook .pro-retina, .price-list .container .price__block .price-lists .macbook .pro, .price-list .container .price__block .price-lists .macbook .air {
  width: 100%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.price-list .container .price__block .price-lists .macbook .pro-retina.active, .price-list .container .price__block .price-lists .macbook .pro.active, .price-list .container .price__block .price-lists .macbook .air.active {
  display: flex;
}
.price-list .container .price__block .price-lists .watch .one, .price-list .container .price__block .price-lists .watch .two, .price-list .container .price__block .price-lists .watch .three, .price-list .container .price__block .price-lists .watch .four {
  width: 100%;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
}
.price-list .container .price__block .price-lists .watch .one.active, .price-list .container .price__block .price-lists .watch .two.active, .price-list .container .price__block .price-lists .watch .three.active, .price-list .container .price__block .price-lists .watch .four.active {
  display: flex;
}

.device-info .container {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}
.device-info .container .device-info__text {
  text-align: center;
}
.device-info .container .device-info__text span {
  color: #cc3399;
  font-weight: bold;
}

.reviews {
  margin-top: 80px;
}
.reviews .container {
  position: relative;
}
.reviews .container .reviews__title {
  font-size: 50px;
  color: #330066;
  text-align: center;
}
.reviews .container .reviews__content {
  margin: 30px auto 0 auto;
  position: relative;
}
.reviews .container .reviews__content .review {
  margin: 10px 15px;
  width: 460px;
  height: 360px;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
}
.reviews .container .reviews__content .review .header {
  display: flex;
  align-items: center;
}
.reviews .container .reviews__content .review .header .review__name {
  margin-left: 20px;
  color: #330066;
  font-weight: bold;
  font-size: 18px;
}
.reviews .container .reviews__content .review .review__text {
  margin-top: 20px;
  font-size: 14px;
}
.reviews .container .prev-arrow {
  position: absolute;
  top: calc(50% + 40px);
  left: -30px;
}
.reviews .container .next-arrow {
  position: absolute;
  top: calc(50% + 40px);
  right: -30px;
  transform: rotate(180deg);
}

.contacts {
  margin-top: 50px;
}
.contacts .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts .container .contacts__title {
  font-size: 50px;
  color: #330066;
  margin-bottom: 30px;
}
.contacts .container .contacts__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
}
.contacts .container .contacts__list .telephone {
  position: relative;
  text-decoration: none;
  color: #000;
  margin-left: -50px;
}
.contacts .container .contacts__list .telephone:before {
  content: url("img/telephone.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}
.contacts .container .contacts__list .whats-app {
  position: relative;
  text-decoration: none;
  color: #000;
}
.contacts .container .contacts__list .whats-app:before {
  content: url("img/whatsapp.png");
  width: 20px;
  height: 20px;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}
.contacts .container .contacts__list .address {
  position: relative;
  text-decoration: none;
  color: #000;
}
.contacts .container .contacts__list .address:before {
  content: url("img/adress.png");
  width: 17px;
  height: 23px;
  position: absolute;
  left: -22px;
  top: 50%;
  transform: translateY(-50%);
}

.map {
  margin-top: 50px;
  background: url("img/map.jpg") no-repeat center;
  width: 100%;
  height: 491px;
}

.footer {
  width: 100%;
  height: 200px;
  background: #330066;
  color: #fff;
}
.footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.footer .container .footer__info {
  font-size: 12px;
}
.footer .container .socials {
  display: flex;
  align-items: center;
}
.footer .container .socials a {
  margin: 0 2px;
}
.footer .container .socials .socials__text {
  margin: 0 0 3px 3px;
}

@media screen and (max-width: 1400px) {
  .about-work .container .about-work__stages {
    flex-wrap: wrap;
    margin-left: 20px;
  }
  .about-work .container .about-work__stages .arrow {
    margin-top: 10px;
  }
  .about-work .container .about-work__stages .stage {
    margin: 70px 0 60px 60px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .nav-bar > .container {
    flex-direction: column;
    height: 230px;
  }
  .nav-bar > .container .menu {
    margin-top: 10px;
  }
  .nav-bar > .container .menu .list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nav-bar > .container .menu .list .list__item {
    margin: 5px;
  }
  .nav-bar > .container .nav-bar__contacts {
    align-items: center;
  }

  .main {
    background: url("img/bg.png") no-repeat center;
  }
  .main .container {
    justify-content: center;
  }
  .main .container .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .container .left .title .title__text-border {
    border: 0;
  }

  .features {
    flex-wrap: wrap;
    margin-top: 0px;
  }
  .features .feature {
    margin-top: 220px;
  }

  .brands .container .brands__title {
    text-align: center;
  }
  .brands .container .brands__subtitle {
    text-align: center;
  }

  .about-work .container .about-work__title {
    text-align: center;
  }
  .about-work .container .about-work__stages {
    flex-direction: column;
  }

  .stock .container .left {
    display: none;
  }
  .stock .container .right {
    margin-left: 0;
  }
  .stock .container .right .stock__title {
    font-size: 40px;
    text-align: center;
  }
  .stock .container .right .stock__subtitle {
    text-align: center;
  }
  .stock .container .right .stock__button {
    width: 270px;
    height: 50px;
  }

  .price-list .container .price__title {
    text-align: center;
  }
  .price-list .container .price__subtitle {
    text-align: center;
  }
  .price-list .container .price__block .products {
    flex-direction: column;
  }
  .price-list .container .price__block .products .product {
    text-align: center;
    margin: 10px 0;
  }

  .prev-arrow, .next-arrow {
    display: none;
  }

  .main {
    height: 600px;
  }
}
@media screen and (max-width: 800px) {
  .contacts .container .contacts__list {
    flex-direction: column;
    align-items: center;
  }
  .contacts .container .contacts__list .telephone {
    margin-left: 0;
  }

  .footer .container {
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 290px) {
  .device-info .container {
    margin-top: 370px;
  }
}

/*# sourceMappingURL=style.css.map */
